
.what-can-you-do > .wcyd-container > .wcyd-header > h2{
    height: 37.4px;
    width: 272px;
    margin: 0 0 0 0;
}

.what-can-you-do > .wcyd-container > .wcyd-header{
    height: 37.4px;
    width: 272px;
}


 p.p-can-do  {
    color:#fff4e9;

}

h3.h-can-do{
    color:#ffffff;
}

.what-can-you-do > .wcyd-container > .can-do > .work-container{
    height: 191px;
    width: 218px;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 39px;
    padding-bottom: 39px;
    background: no-repeat center /auto 100% url(../img/what-you-can-do/working-table.webp);
    margin-top: 50px;
    text-align: center;
    background-color: rgba(107, 30, 77, 0.56);
    
}

.what-can-you-do > .wcyd-container > .can-do > .comunicate-container{
    height: 164px;
    width: 218px;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 39px;
    padding-bottom: 39px;
    background: no-repeat center/auto 100% url(../img/what-you-can-do/business-meeting.webp);
    margin-top: 50px;
    text-align: center ;
}


.what-can-you-do > .wcyd-container > .can-do > .sd-container{
    height: 191px;
    width: 218px;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 39px;
    padding-bottom: 39px;
    background: no-repeat center/100% auto url(../img/what-you-can-do/coffee-break.webp);
    margin-top: 50px;
    text-align: center ;
}

.what-can-you-do > .wcyd-container > .can-do {
    height: 880px;
    width: 272px;
    margin-top: 45px;
}




.what-can-you-do > .wcyd-container {
    height: 962.4px;
    padding-left: 24px;
    padding-right: 24px;
}

.what-can-you-do {
    height: 962.4px;
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: #fff4e9;
}


.our-location > img{
    min-width: 15px;
    min-height: 15px;
    max-width: 17px;
    max-height: 17px;
}