:root {
    scroll-behavior: smooth;
}

h1{
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    color: #1b0914;
    line-height: 1.4375;
    text-align: left;
}

.concept > .concept-block > .concept-text > h2 {
    height: 36.8px;
    width: 272px;
    margin: 0 0 0 0;
}

.membership > h2{
    color: #fff4e9;
}

h2{
    text-align: center;
    font-size: 34px;
    font-family: 'Oswald',sans-serif;
    color: #1b0914;
    line-height: 1.1;
    font-weight: 500;
    font-style: normal;
}

.concept > .concept-block > .concept-text > p {
    text-align: center;
    height: 264px;
    width: 272px;
    margin: 25px 0 0 0;
}

.what-you-get-for-free > .get-free > p{
    font-size: 14px;
    font-family: 'Laila', serif;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 0;
    color: #1b0914;
}

.membership > p{
    color: #fff4e9;
}

p{
    font-size: 18px;
    font-family: 'Laila', serif;
    line-height: 1.5;
    color: #6c223a;
    letter-spacing: 0;
    font-weight: normal;
}

h3{
    font-size: 30px;
    font-family: 'Oswald',sans-serif;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0;
    font-style: normal;
    color: #1b0914;
}

body {
    /*min-width: 320;*/
    max-width: 1920px;
    margin: auto;
}

#header {
    background: rgb(255, 255, 255);
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

header > .header .link-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5px;
}

@media (min-width: 990px) {

    header > .header .link-container{
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
}
@media (max-width: 990px){
    header > .header .link-container{
    display: none;
}
}

header > .header a{
    font-size: 18px;
    font-family: 'Laila',serif;
    color: #1b0914;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
}

header > .header-bg{
    background: no-repeat center/auto 100% url(../img/header/header.jpg);
}

/*Header text block*/
header > .header-bg > #header_bg > .hero > .hero-inner > .hero-text{
    text-align: center;
    height: 364px;
    width: 272px;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

header > .header-bg > #header_bg > .hero > .hero-inner{
    height: 364px;
    width: 272px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -50px;
    
}

header > .header-bg > #header_bg > .hero{
    height: 364px;
    width: 272px;
}

header > .header-bg > #header_bg{
    height: 471.6px;
    width: 272px;
    padding-left: 24px;
    padding-right: 24px;
}

header > .header-bg{
    align-items: center;
    height: 471.6px;
    padding-top: 130px;
    padding-bottom: 130px;
}

.hero-text {
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-weight: 500;
    line-height: inherit;
    font-style: normal;
}
/*Header text end*/

/*Header button block*/

header > .header-bg > #header_bg > .hero-button > .inbutton > .inbutton-space > .space-button{
    
    height: 57.6px;
    width: 116.275px;
    padding-left: 10px;
    padding-right: 10px;
}

header > .header-bg > #header_bg > .hero-button > .inbutton > .inbutton-space{
    text-align: center;
    height: 57.6px;
    width: 136.275px;
    padding-left: 67.8px;
    padding-right: 67.8px;
}

header > .header-bg > #header_bg > .hero-button > .inbutton{
    height: 57.6px;
    width: 272px;
}

header > .header-bg > #header_bg > .hero-button{
    margin-top: 50px;
    height: 57.6px;
    width: 272px;
}
/*Header button end*/

/*Concept block*/

.concept > .concept-block > .concept-text {
    height: 325.8px;
    width: 272px;
}

.concept > .concept-block {
    height: 425px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
}

.concept {
    align-items: center;
    height: 425px;
    padding-top: 85px;
    padding-bottom: 90px;
}

/*Concept block*/

.concept > .concept-block > .concept-button > .concept-button-block {
    height: 49.2px;
    width: 126px;
    padding-left: 73px;
    padding-right: 73px;
}

.concept > .concept-block > .concept-button {
    height: 49.2px;
    width: 272px;
    margin-top: 50px;
}

/**/




.membership{
    background-image: url("/img/membership/crew.jpg ");
    width: 320px;
    height:609px;
}

.membership > .button{
    color: #fff4e9;
    border-width: 2px;
}
