#header { /* Верхний блок */
    background: rgb(255, 255, 255);
    padding: 10px;
    height: 10%;
    background-color: rgb(255, 255, 255);
    color: #000000;
}
#header_bg {
    height: 70%;
}
h1 {
font-size: 180px;
}
