#header { /* Верхний блок */
    background: #0080c0;
    padding: 10px;
    height: 10%;
    background-color: rgb(35, 61, 30);
    color: #000000;
}
#headerl {
    background: #0080c0;
    padding: 10px;
    align:
    height: 10%;
    background-color: rgb(35, 61, 30);
    color: #000000;
}